.div {
    display: block;
    margin-top: 35px;
    width: 400px;
    
}
.input {
    border:none;
    border-bottom: 1px solid lightgray;
    position: absolute;
    font-size: 30px;
    margin-bottom: 50px;
    
   
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #319795;  
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;  
  transition: background-color 5000s ease-in-out 0s; 
}

input, select, textarea {
    color: #319795;
    }

.input:focus {
    outline: none;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    top: -50px;
    color: #8e22d6;
}

.button {
    background-color: transparent;
    border: none;
    height: 40px;
    cursor: pointer;

}

.icon {
    fill: #316697;
    transition: fill,transform 250ms linear;
}

.button:hover .icon,
.button:focus .icon{
    fill: #8e22d6;
    transform: scale(1.2);
}



.label{
    transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    position: relative;
    font-size: 30px;
    top: -10px;
    color: #3197956d;
    z-index: 1;
}

.form {
    display: flex;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .div {
        width: 340px;
    }
    .label {
        font-size: 20px;
        top: 0;
    }
    .icon {
        width: 30px;
    }
    .input {
        width: 300px;
        font-size: 20px;
    }
    .input:focus + .label,
    .input:not(:placeholder-shown) + .label {
        top: -25px;
        color: red;
    }
  }

  @media screen and (max-width: 480px) {
    .div {
        width: 260px;
    }
    .label {
        font-size: 15px;
        top: -5px;
    }
    .icon {
        width: 25px;
    }
    .input {
        width: 240px;
        font-size: 15px;
    }
    .input:focus + .label,
    .input:not(:placeholder-shown) + .label {
        top: -25px;
        color: red;
    }
  }