.div {
    display: block;
    margin-top: 35px;
    width: 600px;
    
}
.input {
    border:none;
    border-bottom: 1px solid lightgray;
    position: absolute;
    font-size: 30px;
    margin-bottom: 50px;
   
}

.input:focus {
    outline: none;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    top: -50px;
    color: red;
}

.button {
    background-color: transparent;
    border: none;
    height: 40px;
    cursor: pointer;

}

.icon {
    transition: fill,transform 250ms linear;
}

.button:hover .icon,
.button:focus .icon{
    fill: #8e22d6;
    transform: scale(1.2);
}



.label{
    transition: top 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    position: relative;
    font-size: 30px;
    top: -10px;
    color: black;
    z-index: 1;
}

.form {
    display: flex;
    align-items: center;
}
