.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}
.icon {
    transition: fill 250ms linear;
}
.button:hover .icon,
.button:focus .icon{
    fill: #8e22d6;
}

.li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #319795;
    border-radius: 0.5rem;
    padding: 0.5rem;

}

@media screen and (max-width: 768px) {
    
    .icon {
        width:30px; 
    }
    
    
  }

  @media screen and (max-width: 480px) {
    
    .icon {
        width:25px; 
    }
    
    
  }